/* Start Flex Box  */
.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.space-around {
    justify-content: space-around;
}
.space-between {
    justify-content: space-between;
}
.space-evenly {
    justify-content: space-evenly;
}
.justify-content-center {
    justify-content: center;
}
.flex-start {
    justify-content: flex-start;
}
.flex-end {
    justify-content: flex-end;
}
.flex-column {
    flex-direction: column;
}
/* End Flex Box  */