/* Start Container Layout */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* End Container Layout */
  /* Start Flex Box  */
  .d-flex {
    display: flex;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .space-around {
    justify-content: space-around;
  }
  .space-between {
    justify-content: space-between;
  }
  .space-evenly {
    justify-content: space-evenly;
  }
  .justify-content-center {
    justify-content: center;
  }
  .flex-start {
    justify-content: flex-start;
  }
  .flex-end {
    justify-content: flex-end;
  }
  .flex-column {
    flex-direction: column;
  }
  .flex-column-r {
    flex-direction: column-reverse;
  }
  .align-i-c {
    align-items: center;
  }
  .align-i-flex-s {
    align-items: flex-start;
  }
  .align-i-flex-e {
    align-items: flex-end;
  }
  /* End Flex Box  */
  /* Start Graid  */
  .grid {
    display: grid;
  }
  .grid-3 {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .grid-4 {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .grid-5 {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .align-i-s {
    align-items: start;
  }
  .align-i-e {
    align-items: end;
  }
  /* End Graid */
  /* Start Spacing With Gap */
  .gap-5 {
    gap: 5px;
  }
  .gap-10 {
    gap: 10px;
  }
  .gap-15 {
    gap: 15px;
  }
  .gap-20 {
    gap: 20px;
  }
  .gap-25 {
    gap: 25px;
  }
  .gap-30 {
    gap: 30px;
  }
  /* End Spacing With Gap */
  